if locals.payload
    p expirationDate
    -var date = (new Date(expirationDate*1000));
    #expirationDate #{date}
    if locals.callback
        p callback
        #callback #{callback}
    p priority
    #priority #{priority}
    p payload
    #payload #{payload}
    if locals.queues
        - if(queues.totalNotifications!==undefined)
            ul#summary
                li totalNotifications: #{queues.totalNotifications}
                li Pending: #{queues.Pending}
                li Delivered: #{queues.Delivered}
        - else
            ul#queues
                - if(Object.keys(queues).length!=0)
                    each val, key in queues
                        li
                            a(href="#{val.href}") #{key}
                            &nbsp;
                            #{val.state}
                - else
                    li NO QUEUES FOR GIVEN STATE
    end
else
    pp No data for transaction